body {
  margin: 0;
  background: rgb(18, 18, 18);
}

ul {
  list-style: none;
  padding: 0;
  overflow: hidden;
  transition: all 0.5s;
}

.logo {
  justify-content: start;
  padding: 0 0px;
}

nav {
  background-color: #2a2a2a;
  padding: 0 10px;
  justify-content: flex-start;
  align-items: center;
}

.miniconteiner {
  display: flex;
  right: 200px;
  justify-content: center;
}

.baixar {
  align-items: center;
  display: flex;
  flex-direction: row;
  right: 150px;
  font-size: 10.5px;
  margin-left: 480;
  padding: 1px;
}

h3 {
  color: #fff;
  border-inline-end-width: 50px;
}

h1,
p,
a {
  color: #fff;
  list-style: none;
  text-decoration: none;
}

h3 {
  top: 50px;
}

nav,
ul {
  display: flex;
  flex-direction: row;
  font-size: 10.5px;
}

li {
  padding: 0 20px;
  justify-content: flex-end;
}

h1 {
  margin: 0;
  padding: 0px;
  top: 0px;
  position: relative;
}

button {
  background: rgb(18, 18, 18);
  border: none;
  color: #fff;
  font-size: 36px;
  position: absolute;
  right: 10px;
  top: 10px;
  display: none;
}

li:hover,
h1:hover,
button:hover {
  cursor: pointer;
  opacity: 0.8;
  background-color: rgba(255, 255, 255, 0.2);
}

button:focus ~ ul {
  height: 260px;
}

@media (max-width: 700px) {
  nav,
  ul {
    flex-direction: column;
  }
  ul {
    text-align: center;
    margin: 0;
    height: 0;
  }
  nav {
    padding: 0;
    align-items: flex-start;
  }
  h1 {
    margin: 10px;
  }
  button {
    display: flex;
  }
  li,
  ul {
    width: 100%;
  }
}

.img {
  display: flex;
  position: absolute;
  width: 1150px;
  height: 650px;
  left: 240px;
  top: 155px;
  border-radius: 10px;
  cursor: pointer;
}

#divBusca {
  background-color: #202020;
  border-radius: 15px;
  top: 90px;
  position: absolute;
  right: 480px;
  justify-content: center;
}

#txtBusca {
  position: absolute;
  background-color: #202020;
  padding-left: 5px;
  font-size: 14px;
  border: none;
  height: 41px;
  width: 230px;
  color: #fff;
  justify-content: center;
}

#btnBusca {
  position: absolute;
  left: 200px;
  top: 5px;
  cursor: pointer;
}

.listalateral {
  position: absolute;
  top: 80px;
  list-style: none;
  font-size: 18px;
  right: 200px;
  justify-items: center;
  color: #fff;
  font-size: 50px;
}
.container {
  position: absolute;
  font-size: 50px;
  top: 300px;
}
